<nav>
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/survey">Survey</a></li>
  </ul>
</nav>
