<!doctype html>
<html>
  <head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <%- include('partials/header') %>
    <section class="main">
    <div class="main-content">
      <h1 class="main-title"><%= shopName %></h1>
      <h2 class="main-subtitle">A Premium Bar Experience</h2>
      <p class="main-desc">
        Here are some things that we sell:
      </p>

      <ul class="menu-list">
        <% productCategories.forEach(function(category) { %>
          <li><%= category %></li>
        <% }); %>
      </ul>

    </div>
  </section>
  </body>
</html>
